* {
    box-sizing: border-box;
}
.product {
    /* background-image: url(../../public/glassesImage/background.jpg); */
    /* background-size: cover; */
}
.single_item {
    border: solid 1px #ff8800;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.single_item:hover {
    box-shadow: 0 0 4px 2px #ff8800;
    border: transparent 1px solid;
}

.product_des {
    position: relative;
}
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffa60083;
}
.testProduct {
    position: absolute;
    position: absolute;
    width: 52%;
    left: 50%;
    top: 25%;
    transform: translateX(-49%);
}